__pycache__/
*.py[cod]
.ipynb_checkpoints/

runs/**

docs/books/tex/*.aux
docs/books/tex/*.log
docs/books/tex/*.out
docs/books/tex/*.nav
docs/books/tex/*.snm
docs/books/tex/*.toc
docs/books/tex/*.vrb
